.food-menu-container1 {
    max-width: 600px;
    margin: 0 auto;
  }
 .h22{
    text-align: center;
    color: white;
 } 
  .menu-items1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
 
  .menu-item11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(225, 43, 43);
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px black;
  
  }
  
  .menu-item11:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item11 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    
  }
  
  .menu-item11 p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .selected-items1 {
    margin-top: 20px;
  }
  
  .selected-items1 h3 {
    margin-bottom: 10px;
  }
  
  .selected-items1 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .selected-items1 li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgba(239, 231, 231, 0.858);
    color: rgb(15, 14, 14);
  }
  
  .selected-items1 button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.652);
    border: none;
    color: #f2ebeb;
    border-radius: 3px;
    cursor: pointer;
  }