/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .debitlabel {
    margin-bottom: 10px;
    color: white;
    /* padding: 10px; */
  }
  
  .debitinput {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .debitbutt {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .debitbutt:hover {
    background-color: #1e90ff;
  }
  
  .debitbutt:active {
    background-color: #0073e6;
  }
  