/* ReservationForm.css */

/* Base styles for the form */
.res {
  display: flex;
  justify-content: center;
}
body{
  background-color: black;
}
.form1 {
  margin-top: -50px;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

.lable1 {
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.butt {
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .form1 {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .form1 {
    padding: 10px;
  }

  .lable1 {
    font-size: 14px;
  }

  .input {
    padding: 5px;
  }

  .butt {
    font-size: 14px;
    padding: 8px 15px;
  }
}
