.h8{
    color: black;
}

.aboutp{
    text-align: center;
    color: white;
    font-size:130%;
    font-weight: 200;
    /* justify-content:baseline; */
}

.image-about{
    width: 200px;
    height: 200px;
    /* justify-content: center; */
}