.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: orangered; */
    /* background-image: url(regis.jpg);
    background-size: contain; */
    font-family: Arial, sans-serif;
  }
  
  .register-form h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 2rem;
    background-color: #ffffff00;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-style: double;
    border-color: #fbf5f5; */
    margin-bottom: 10%;
  }
  
  .register-form .form-group {
    margin-bottom: 1rem;
    align-content: center;
    justify-content: center;
  }
  
  .register-form label {
    margin-right: 3rem;
    font-size: 1rem;
    color: #fbf5f5;
    /* align-content: center ; */
  }
  
  .register-form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 3px solid #ccc;
    border-radius: 3px;
    width: 270px;
  }
  
  .register-form .error {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #ff0000;
  }
  body{
    background-image: url(i1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-position-x:center;
    background-position-y: -230px;
  }
  
  .register-form .register-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register-form .register-button:hover {
    background-color: #0056b3;
  }
  
  .register-form .register-button:focus {
    outline: none;
  }