/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  
}

h1 {
  margin-bottom: 30px;
}

form {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* align-items: center; */
  /* margin-left: 35%;
  margin-top: 8%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input:invalid {
  border-color: #ff0000;
} */ 

form {
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(237, 236, 228, 0);
  color: white;
}

label {
  display: contents;
  width: 70px;

  text-align: right;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 20px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  display: block;
  margin-bottom: 20px;
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  /* justify-content: center */

}

button:hover {
  background-color: #45a049;
  /* align-items: center; */
  justify-content: center;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}